name: "Main"
on: [ "push", "pull_request" ]

jobs:
  gradle:

    strategy:
      matrix:
        os: [ "ubuntu-latest" ]
        # TODO: arch: [ "x64", "arm64" ]

    runs-on: "${{ matrix.os }}"

    permissions:
      contents: "read"
      packages: "write"

    steps:

    - uses: "actions/checkout@v3"

    - uses: "actions/setup-java@v3"
      with:
        distribution: "temurin"
        java-version: "11"

    - uses: "gradle/gradle-build-action@v2"

    - run: "graphviz/build.sh"

    - run: "./gradlew ktfmtCheck publish --info --stacktrace"
      env:
        GITHUB_TOKEN: "${{secrets.GITHUB_TOKEN}}"
        REPSY_USER: "${{secrets.REPSY_USER}}"
        REPSY_PASS: "${{secrets.REPSY_PASS}}"